# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Disconnected Character VR.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Uwe\Year 3\AT\Unity Projects\VR Camera Tests\Disconnected Character VR\.idea\.idea.Disconnected Character VR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
